<div class="candidate-signup">
  <div>
    <h1>Register</h1>
    <a href="#">Are you an employer?</a>
  </div>

  <form action="/candidates/signup" method="POST">
    <input type="text" name="name" placeholder="Full name" />
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="password" placeholder="Password" />
    <button type="submit">Register</button>
  </form>
</div>
