<nav class="navbar">
  <div class="navbar-logo">
    <span>Jobby</span>
  </div>
  <div class="navbar-links">
    <a href="#" class="active-link">Job search</a>
    <a href="/candidate/profile">Profile</a>
    <a href="#">Company reviews</a>
  </div>
  <div class="navbar-auth-links">
    <% if (employer && employer.company_name) { %>
    <span style="margin-right: 20px"
      ><%= employer.company_name.split(" ")[0].toUpperCase() %></span
    >
    <span class="bar"></span>
    <a href="/employer/profile">Employer profile</a>
    <% } else if (candidate && candidate.name) { %>
    <span style="margin-right: 20px"
      ><%= candidate.name.split(" ")[0].toUpperCase() %></span
    >
    <span class="bar"></span>
    <a href="/employers">Employer site</a>
    <% } else { %>
    <a class="signin" href="/candidate/signin">Sign in</a>
    <span class="bar"></span>
    <a href="/employers">Employer site</a>
    <% } %>
  </div>
</nav>

<div class="navbar-collapsed">
  <div class="navbar-collapsed-links">
    <a href="#" class="active-link">Job search</a>
    <a href="#">Profile</a>
    <a href="#">Company reviews</a>
  </div>
</div>
