<nav class="navbar">
  <div class="navbar-logo">
    <span>Jobby</span>
  </div>
  <div class="navbar-links">
    <a href="#" class="active-link">Job search</a>
    <a href="#">Profile</a>
    <a href="#">Company reviews</a>
  </div>
  <div class="navbar-auth-links">
    <a class="signin" href="#">Sign in</a>
    <span class="bar"></span>
    <a href="#">Employer site</a>
  </div>
</nav>

<div class="navbar-collapsed">
  <div class="navbar-collapsed-links">
    <a href="#" class="active-link">Job search</a>
    <a href="#">Profile</a>
    <a href="#">Company reviews</a>
  </div>
</div>
