<div class="searchbar">
  <form action="">
    <div class="input-container">
      <span>What</span>
      <input type="text" name="what" placeholder="job title" />
      <img src="/assets/search-interface-symbol.png" alt="" />
    </div>
    <div class="input-container">
      <span>Where</span>
      <input type="text" name="where" placeholder="city" />
      <img src="/assets/location.png" alt="" />
    </div>
    <button type="submit">Good luck</button>
  </form>
</div>
