<footer class="footer">
  <ul>
    <li>© 2023 Jobby</li>
    <li><a href="#">Accessibility at Jobby</a></li>
    <li><a href="#">Privacy Centre</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Terms</a></li>
  </ul>
</footer>
