<main class="hero"><%- include('./components/searchbar'); %></main>

<section class="hero-auth">
  <div>
    <img src="/assets/user.png" alt="" />
    <p>
      <a href="#">Sign in</a> or <a href="#">Register</a> to see your saved
      searches and saved jobs on all your devices
    </p>
  </div>
</section>
