<main class="hero"><%- include('./components/searchbar'); %></main>

<section class="hero-auth">
  <div>
    <img src="/assets/user.png" alt="" />
    <p>
      <a href="#">Sign in</a> or <a href="#">Register</a> to see your saved
      searches and saved jobs on all your devices
    </p>
  </div>
</section>

<section class="hero-auth-collapsed">
  <div>
    <a href="" class="signin">Sign in</a>
    <a href="#" class="register">Register</a>
  </div>
  <p>Sign in to save jobs and searches, and see jobs recommended for you</p>
</section>
