@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Righteous&family=Roboto:wght@300;400&display=swap");

:root {
  --primary-color: #1d559d;
  --links-color: #4964e9;
  --text-color: #2e3849;
  --border-color: #d2d7df;
  --white-color: #fff;
  --button-hover: #2557a7;
  --footer-color: #f7f8fb;
  --job-description-color: #5a6881;
  --save-hover: #e4e2e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.container {
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;
}

/* general tags */

a {
  text-decoration: none;
  color: var(--links-color);
}

/* helpers classes */

.bar {
  border: 1px solid var(--border-color);
}

.horizontal-bar {
  border-bottom: 1px solid var(--border-color);
  margin: 40px 0;
}

.active-link {
  border-bottom: 2px solid var(--links-color);
  padding-bottom: 25px;
}

.job-details-header {
  font-size: 18px;
  font-weight: 600;
}

.message {
  margin-top: 20px;
  font-weight: 400;
}

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

/* navbar section */

.navbar {
  display: flex;
  padding: 15px;
  align-items: center;
  min-height: 10vh;
  border-bottom: 1px solid var(--border-color);
}

.navbar-logo {
  flex: 1;
  margin-left: 40px;
}

.navbar-logo span {
  font-size: 1.9rem;
  font-weight: 600;
  font-style: italic;
}

.navbar-auth-links a {
  margin: 0 40px;
}

.navbar-auth-links .signin {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

.navbar-auth-links .signin:hover {
  background-color: var(--links-color);
  color: var(--white-color);
}

.navbar-links {
  flex: 2;
}

.navbar-links a {
  font-weight: 400;
  color: var(--text-color);
  margin: 0 15px;
}

.navbar-links a:hover {
  border-bottom: 2px solid var(--links-color);
  padding-bottom: 25px;
}

.navbar-collapsed {
  margin-top: 25px;
  text-align: center;
}

.navbar-collapsed-links a {
  font-weight: 400;
  color: var(--text-color);
  margin: 0 15px;
}

.navbar-collapsed-links a:hover {
  border-bottom: 2px solid var(--links-color);
  padding-bottom: 25px;
}

/* main search bar section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.hero-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.hero-auth div {
  display: flex;
  align-items: center;
}

.hero-auth div p {
  margin-left: 15px;
}

.hero-auth div a {
  font-size: 18px;
}

.hero-auth div a:hover {
  border-bottom: 1px solid var(--links-color);
}

.hero-auth-collapsed {
  text-align: center;
  margin-top: 100px;
}

.hero-auth-collapsed p {
  margin-top: 30px;
}

.hero-auth-collapsed a {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  margin: 0 10px;
}

.hero-auth-collapsed .signin {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* search bar */

.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar .input-container {
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.searchbar button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  min-height: 41px;
  font-size: 17px;
  cursor: pointer;
}

.searchbar button:hover {
  background-color: #2557a7;
}

.input-container span {
  font-size: 14px;
  font-weight: 600;
}

.input-container input {
  margin: 0 15px;
  border: none;
  outline: none;
  font-size: 16px;
}

.searchbar-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* footer */

.footer {
  width: 100%;
  background-color: var(--footer-color);
  min-height: 30vh;
}

.footer ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.footer ul li {
  margin: 0 15px;
}

.footer ul li a:hover {
  border-bottom: 1px solid var(--links-color);
}

@media screen and (max-width: 856px) {
  .searchbar {
    min-width: 44%;
  }

  .searchbar form {
    flex-direction: column;
  }

  .searchbar .input-container {
    margin: 3px 0;
    width: 100%;
  }

  .searchbar button {
    width: 100%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1010px) {
  .navbar .navbar-links {
    display: none;
  }
}

@media screen and (min-width: 1010px) {
  .navbar-collapsed-links {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 535px) {
  .navbar-auth-links a {
    margin: 0px 10px;
  }
  .navbar-logo {
    flex: 1;
    margin-left: 0;
  }
  .hero-auth {
    display: none;
  }
  .navbar-collapsed-links a {
    margin: 0 11px;
  }
}

@media screen and (min-width: 535px) {
  .hero-auth-collapsed {
    display: none;
  }
}

@media screen and (max-width: 685px) {
  .footer ul {
    flex-direction: column;
  }
  .footer ul li {
    margin: 5px 0;
  }
}

/* all jobs result page */

.all-jobs {
  max-width: 650px;
  margin: 50px auto;
}

.box {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
}

.job-title a:hover {
  text-decoration: underline;
}

.company-name span {
  font-size: 18px;
}

.company-location {
  margin-top: 10px;
  font-size: 14px;
}

.job-type {
  display: inline-block;
  background-color: var(--border-color);
  padding: 4px 8px;
  border-radius: 10px;
  margin-top: 10px;
}

.job-type span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.job-type img {
  margin-right: 5px;
}

.job-description {
  margin: 20px 0;
}

.job-description ul {
  list-style: none;
}

.job-description ul li {
  color: var(--job-description-color);
}

@media (min-width: 320px) and (max-width: 535px) {
  .job-description ul li {
    font-size: 14px;
    margin-top: 5px;
  }
}

/* job details page */

.job-details {
  max-width: 650px;
  margin: 50px auto;
}

.job-details h1 {
  font-size: 1.87rem;
  color: var(--text-color);
}

.job-details-company span {
  font-size: 1.25rem;
}

.job-details-location {
  margin-top: 10px;
}

.job-details-type span {
  font-weight: 600;
}

.job-details-apply {
  display: flex;
  margin-top: 30px;
}

.job-details-apply .apply {
  padding: 13px 40px;
  border: 0;
  outline: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
}
.job-details-apply .apply:hover {
  background-color: var(--button-hover);
}
.job-details-apply .save {
  background-color: var(--border-color);
  border: 0;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.job-details-apply .save:hover {
  background-color: var(--save-hover);
}

.job-details-posted-date {
  margin: 10px 0;
}

.job-details-posted-date span {
  font-size: 14px;
}

.job-details-company-jobs a:hover {
  text-decoration: underline;
}

.job-details-about-company,
.job-details-role-responsabilities {
  margin: 20px 0;
}

.job-details p {
  margin-top: 10px;
}

.job-details .editJob,
.deleteJob {
  padding: 10px 15px;
  border-radius: 10px;
  border: 0;
  outline: none;
  margin: 30px 0;
  cursor: pointer;
}

.job-details .editJob {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-right: 10px;
}

/* employers page */

.employer-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}

.employer-page .features {
  display: flex;
}

.employer-page .features .box {
  max-width: 350px;
  margin: 60px 10px;
}

.employer-page .features h4 {
  font-size: 1.75rem;
  line-height: 35px;
  margin-bottom: 20px;
}

.employer-page h1 {
  font-size: 2.75rem;
  font-weight: 400;
}

.employer-page a {
  padding: 20px 30px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0;
  outline: none;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.employer-page button:hover {
  background-color: var(--button-hover);
}

@media screen and (max-width: 767px) {
  .employer-page .features {
    flex-direction: column;
    margin-top: 50px;
  }
  .employer-page .features .box {
    margin: 10px 0;
  }

  .employer-page button {
    margin-top: 30px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .employer-page h1 {
    font-size: 2.25rem;
  }
}

/* candidate signup */

.candidate-signup {
  max-width: 650px;
  margin: 50px auto;
  background-color: var(--footer-color);
  padding: 20px;
  border-radius: 10px;
}

.candidate-signup form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
}

.candidate-signup form input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 4px 0;
}

.candidate-signup form input:focus {
  color: var(--text-color);
  background-color: var(--white-color);
  border-color: var(--links-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.candidate-signup form button {
  border: none;
  outline: 0;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  color: var(--white-color);
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.candidate-signup h1 {
  font-size: 2.75rem;
  font-weight: 400;
}

.candidate-signup div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.candidate-signup div a:hover {
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 480px) {
  .candidate-signup div {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* candidate dashboard */

.candidate-dashboard {
  max-width: 800px;
  margin: 50px auto;
}

.candidate-panel h1 {
  font-size: 2.75rem;
}

.personal-summary,
.career-history,
.education,
.skills {
  background-color: var(--footer-color);
  padding: 20px;
  margin: 20px 0;
}

.candidate-dashboard button {
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--links-color);
  font-size: 14px;
  font-weight: 400;
  color: var(--links-color);
  cursor: pointer;
  margin-top: 20px;
}

.personal-summary p,
.career-details,
.education-details,
.skills-details {
  margin: 10px 0;
}

.skills-details {
  margin: 30px 0;
}

.skill-name {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 8px;
  border-radius: 10px;
  margin: 5px 5px 0 0;
}

.recommended-jobs-link {
  display: flex;
  margin: 50px 0;
}

.recommended-jobs-link:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.recommended-jobs {
  max-width: 650px;
  margin: 0 auto;
}

.recommended-jobs ul {
  list-style: none;
}

.recommended-jobs ul li {
  margin: 10px 0;
}

.recommended-jobs ul li a {
  text-decoration: none;
}

/* forms */

.role-form,
.education-form,
.skills-form,
.summary-form,
.job-form {
  background-color: var(--footer-color);
  padding: 20px;
  border-left: 2px solid var(--primary-color);
  box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 35px;
}

.role-form form,
.education-form form,
.skills-form form,
.summary-form form,
.job-form form {
  margin-top: 20px;
}

.role-form label,
.education-form label,
.skills-form label,
.summary-form label,
.job-form label {
  display: block;
  font-weight: 600;
  margin-top: 15px;
}

.role-form input,
.education-form input,
.skills-form input,
.summary-form textarea,
.job-form input,
.job-form textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 4px 0;
}

.role-form select,
.education-form select {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--white-color);
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.role-form button,
.education-form button,
.skills-form button,
.summary-form button {
  margin-top: 30px;
}

.role-form .save-form-role,
.education-form .save-form-education,
.skills-form .save-form-skill,
.summary-form .save-form-summary,
.job-form button {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-right: 10px;
}

/* employer dashboard */

.employer-dashboard {
  display: flex;
}

.employer-dashboard .employer-jobs {
  margin-top: 10px;
}

.job-form {
  max-width: 800px;
  margin: 50px auto;
  flex: 1;
}

.job-form button {
  padding: 15px 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.employer-links {
  flex: 2;
  margin-top: 50px;
}

.employer-links a:hover {
  text-decoration: underline;
}
