<div class="employer-page">
  <h1>Elevate your team with top talent. Quickly.</h1>
  <div class="features">
    <div class="box">
      <h4>Create your free account</h4>
      <p>Begin your recruitment process with ease using only your email.</p>
    </div>
    <div class="box">
      <h4>Build your job post</h4>
      <p>
        Add a title, description, and location to post your job effortlessly.
      </p>
    </div>
    <div class="box">
      <h4>Post your job</h4>
      <p>Get the perfect candidate with our innovative hiring tools.</p>
    </div>
  </div>
  <a href="/employer/profile">Post a job</a>
</div>
