<section class="job-details">
  <h1 class="job-details-title">Software Engineer</h1>
  <div class="job-details-company">
    <span>Commonwealth Bank</span>
  </div>
  <div class="job-details-location">
    <span>Adelaide Region SA</span>
  </div>
  <div class="job-details-type">
    <span>Full Time</span>
  </div>
  <div class="job-details-posted-date">
    <span>Posted 5h ago</span>
  </div>
  <div class="job-details-company-jobs">
    <a href="#">More jobs from this company</a>
  </div>
  <div class="job-details-apply">
    <form action="">
      <button type="submit" class="apply">Apply</button>
    </form>
    <form action="">
      <button type="submit" class="save">
        <img src="/assets/heart.png" alt="" />
      </button>
    </form>
  </div>

  <div class="horizontal-bar"></div>

  <div class="job-details-full-description">
    <span class="job-details-header">Full Job Description</span>
  </div>

  <div class="job-details-about-company">
    <span class="job-details-header">About SwarmFarm Robotics</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>

  <div class="job-details-role-description">
    <span class="job-details-header">About the role</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>

  <div class="job-details-role-responsabilities">
    <span class="job-details-header">Responsibilities of the role</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>

  <div class="job-details-about-candidate">
    <span class="job-details-header">About you</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit?
      Quam repudiandae perspiciatis consequuntur ea consequatur labore itaque
      corporis sunt neque, quis qui, porro distinctio nemo reiciendis molestiae
      voluptate tempora totam dignissimos a debitis. Commodi, quae veritatis aut
      reprehenderit voluptates ratione? Eos amet, nemo error obcaecati neque
      vitae corrupti sed.
    </p>
  </div>
</section>
