<div class="skills-form">
  <h2>Add Skills</h2>
  <form name="skills">
    <label for="skill-name">Name</label>
    <input type="text" name="skill-name" id="skill-name" />
    <div class="skill-form-buttons">
      <button type="submit" class="save-form-skill">Save</button>
      <button class="cancel-form-skill">Cancel</button>
    </div>
  </form>
</div>
