<div class="candidate-signup">
  <div>
    <h1>User Signin</h1>
  </div>

  <form name="signin">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Signin</button>
    <p class="message"></p>
  </form>
</div>

<script>
  const form = document.forms.signin;
  const { email, password } = form.elements;
  const message = document.querySelector(".message");

  async function handleRegister(event) {
    event.preventDefault();
    try {
      const res = await axios.post("/candidate/signin", {
        email: email.value,
        password: password.value,
      });
      if (res.status === 200) {
        location.replace("/");
      } else {
        message.textContent = res.data.response.msg;
      }
    } catch (error) {
      message.textContent = error.response.data.msg;
    }
    setTimeout(() => {
      message.textContent = "";
    }, 3000);
  }

  form.addEventListener("submit", handleRegister);
</script>
